/* solarized-dark theme */
@define-color base00 #002b36;
@define-color base01 #073642;
@define-color base02 #586e75;
@define-color base03 #657b83;
@define-color base04 #839496;
@define-color base05 #93a1a1;
@define-color base06 #eee8d5;
@define-color base07 #fdf6e3;
@define-color base08 #dc322f;
@define-color base09 #cb4b16;
@define-color base0A #b58900;
@define-color base0B #859900;
@define-color base0C #2aa198;
@define-color base0D #268bd2;
@define-color base0E #6c71c4;
@define-color base0F #d33682;

/* helpful color names */
@define-color red @base08;
@define-color orange @base09;
@define-color yellow @base0A;
@define-color green @base0B;
@define-color cyan @base0C;
@define-color blue @base0D;
@define-color violet @base0E;
@define-color magenta @base0F;

@define-color text @base07;

/* darker colors for hover effects
these are the same as the base colors, but 5 tickets darker in HSL using CccPick
*/
@define-color yellow-hover #9b7600;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: @base01;
    border-bottom: 3px solid @base04;
    color: @text;
    transition-property: background-color;
    transition-duration: .2s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: @base02;
}

window#waybar.chromium {
    background-color: @base00;
    border: none;
}

button {
    /* Remove box shadow */
    box-shadow: none;

    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background: @base00;
}

#workspaces button.focused {
    background-color: @base04;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @base02;
}

.module {
    color: @text;

    /* Give all modules the same border as the waybar so prevent the module background from overlapping the waybar border */
    border-bottom: 3px solid @base04;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

label:focus {
    background-color: @base00;
}

#pulseaudio:hover {
    background-color: @yellow-hover;
}

#pulseaudio.muted {
    background-color: @base05;
    color: @base02;
}

#wireplumber.muted {
    background-color: @red;
}

#custom-media {
    background-color: @green;
    color: @base02;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @green;
}

#custom-media.custom-vlc {
    background-color: @orange;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor.activated {
    background-color: @base07;
    color: @base00;
}

#scratchpad {
    background: @base00;
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: @text;
}

#privacy-item.screenshare {
    background-color: @orange;
}

#privacy-item.audio-in {
    background-color: @green;
}

#privacy-item.audio-out {
    background-color: @blue;
}
