[user]
  name = Juan Ibiapina
  email = juanibiapina@gmail.com
  signingkey = 1C474BBC910209AE
[diff]
  ignoreSubmodules = dirty
[alias]
  a = add
  b = branch
  c = diff --cached
  ci = commit
  co = checkout
  cp = cherry-pick
  d = diff
  f = fetch --prune --tags
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  la = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  prb = pull --rebase --prune --tags
  rb = rebase
  s = status
  st = stash
  sh = show
  today = ! git l --since "12am"
  unstage = reset HEAD .
[core]
  excludesfile = ~/.gitignore
  attributesFile = ~/.gitattributes
[github]
  user = juanibiapina
[heroku]
  account = personal
[push]
  default = simple
[merge]
  tool = vimdiff
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = green
  changed = yellow
  untracked = red
[pager]
  diff = delta
  show = delta
[init]
  defaultBranch = main
[advice]
  skippedCherryPicks = false
  detachedHead = false
[commit]
  gpgsign = true
[pull]
  rebase = true

[diff "jupyternotebook"]
  command = git-nbdiffdriver diff --sources
[merge "jupyternotebook"]
  driver = git-nbmergedriver merge %O %A %B %L %P
  name = jupyter notebook merge driver
