git:
  paging:
    colorArg: always
    pager: delta --dark --paging=never
  overrideGpg: true # fix having to press enter after commiting when commit signing is on
gui:
  showBottomLine: false
  showFileTree: false
  nerdFontsVersion: 3
  mouseEvents: false
customCommands:
  - key: 'e'
    context: files
    command: "nvim --server $(dev tmux nvim-socket) --remote {{.SelectedFile.Name | quote}}"
  - key: '<c-D>'
    context: global
    command: "dev clear"
disableStartupPopups: true
quitOnTopLevelReturn: true
