git:
  paging:
    colorArg: always
    pager: delta --dark --paging=never
  overrideGpg: true # fix having to press enter after commiting when commit signing is on
gui:
  showBottomLine: false
  showFileTree: false
  nerdFontsVersion: 3
  mouseEvents: false
os:
  edit: nvim --server $(dev tmux nvim-socket) --remote {{filename}}
  editInTerminal: false
customCommands:
  - key: '<c-D>'
    context: global
    command: "dev clear"
disableStartupPopups: true
quitOnTopLevelReturn: true
