# Configuration documentation: https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md
git:
  paging:
    colorArg: always
    pager: delta --dark --paging=never
  overrideGpg: true # fix having to press enter after commiting when commit signing is on
  autoFetch: false # disabling this because it causes the UI to resize and it's distracting
  branchLogCmd: "git log --graph --color=always --abbrev-commit --decorate --pretty=medium {{branchName}} --" # same as the default but with absolute date
gui:
  showBottomLine: false
  showFileTree: false
  nerdFontsVersion: 3
  mouseEvents: false
  theme: # https://github.com/folke/tokyonight.nvim/blob/main/extras/lazygit/tokyonight_moon.yml
    activeBorderColor:
      - "#ff966c"
      - "bold"
    inactiveBorderColor:
      - "#589ed7"
    searchingActiveBorderColor:
      - "#ff966c"
      - "bold"
    optionsTextColor:
      - "#82aaff"
    selectedLineBgColor:
      - "#2d3f76"
    cherryPickedCommitFgColor:
      - "#82aaff"
    cherryPickedCommitBgColor:
      - "#c099ff"
    markedBaseCommitFgColor:
      - "#82aaff"
    markedBaseCommitBgColor:
      - "#ffc777"
    unstagedChangesColor:
      - "#c53b53"
    defaultFgColor:
      - "#c8d3f5"
os:
  edit: nvim --server $(dev tmux nvim-socket) --remote {{filename}}
  editInTerminal: false
customCommands:
  - key: '<c-D>'
    context: global
    command: "dev clear"
  - key: 'r'
    context: localBranches
    command: "git rebase {{.SelectedLocalBranch.Name}}"
disableStartupPopups: true
quitOnTopLevelReturn: false
