name: "Update flake"

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1' # Every Monday at 00:00 UTC, needs to happen before 3 am CET and CEST

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  check-date:
    runs-on: self-hosted
    outputs:
      proceed: ${{ steps.check.outputs.proceed }}
    steps:
      - name: Determine if today is first Monday
        id: check
        run: |
          today=$(date -u +"%Y-%m-%d")
          first_monday=$(date -u -d "$(date -u +%Y-%m-01) +$(( (8 - $(date -u -d "$(date -u +%Y-%m-01)" +%u)) % 7 )) days" +%Y-%m-%d)

          if [ "$today" = "$first_monday" ]; then
            echo "proceed=true" >> $GITHUB_OUTPUT
          else
            echo "proceed=false" >> $GITHUB_OUTPUT
          fi

  update:
    needs: check-date
    if: needs.check-date.outputs.proceed == 'true'
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v5

      - name: "Install Nix"
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: "accept-flake-config = true"

      - uses: cachix/cachix-action@v16
        with:
          name: juanibiapina
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: "Update flake"
        run: "nix flake update --accept-flake-config"

      - name: "Build mini configuration"
        run: "nix build --accept-flake-config .#nixosConfigurations.mini.config.system.build.toplevel"

      - name: "Build desktop configuration"
        run: "nix build --accept-flake-config .#nixosConfigurations.desktop.config.system.build.toplevel"

      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "auto: Update flake"
